.datepicker{
    position: absolute;
    bottom: 115px;
    right: 100px;
    z-index: 5000;
    background-color: white;
}

.datepicker > h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 559px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 360px;
}

.datepicker > input {
    width: 539px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 400px;
    border: none;
}

.datepicker > input:focus{
    outline-width: 0;
    outline: none;
}

.datepicker > button {
    position: absolute;
    left: 0;
    top: 460px;
    text-transform: inherit !important;
    background-color: #074998;
    color: white;
    width: 579px;
}

.datepicker > button:hover {
    opacity: 0.82;
    background-color: #074998;
    color: white;
}